/*************************
*
* BASE ELEMENTS
*
*************************/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {}

body {
    font-family: "Times New Roman", Serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html,
body {}

header {}

main {}

section {}

aside {
    padding: 40px;
}

footer {}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol {}

li {}


/*************************
*
* TYPOGRAPHY
*
*************************/

h1,
h2,
h3,
h4,
h5,
    {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

a {}

blockquote {}

strong {}

i {}


/*************************
*
* MEDIA
*
*************************/

svg,
img {
    max-width: 100%;
    height: auto;
}


img {}

svg {}

figure {}

video {}

/*************************
*
* A GRID or LAYOUT
*
*************************/

.wrapper {
    background-image: url('/img/bg.jpg');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto 300px;
}

/* this has been set up for the loadfile.html */
.container-s,
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0;
    align-items: center;
}
.container-s {
    padding: 40px;
    width: 500px;
}

.inline-flex {
    display: inline-flex;
    flex-direction: column;
}

main {
    border: 1px solid #000;
}

aside {
    position: sticky;
    height: 100vh;
    right: 0;
    top: 0;
}


/*************************
*
* DESIGN SPECIFIC STUFF
*
*************************/


.branding {
    text-align: center;
}

.logo svg {
    width: 70%;
    /* change the % to change the size of the logo */
    height: auto;
}

h1.title {
    font-weight: normal;
}

.page-title {
    text-align: center;
}

p {
    font-size: 16px;
}


/* sessions */

.session--info {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    padding-left: 20px;
    flex-grow: 2;
}

.session--title {
    font-size: 16px;
    align-self: center;
    width: 100%;
}

.playlist li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid;
}

.playlist li:last-child {
    border-bottom: 1px solid;
}

.accordion--toggle {
    background: transparent;
    border: none;
}

.accordion--toggle .toggle-icon {
    padding: 0;
    width: 34px;
    transform: rotate(90deg);
    /* Point down */
    vertical-align: middle;
}

.accordion--toggle.active {
    transform: rotate(-180deg);
    /* Point down */
}

.accordion--toggle:hover {
    cursor: pointer;
}

.accordion--toggle:focus {
    outline: none;
}

/* The panel is not shown by default */
.panel {
    display: none;
    overflow: hidden;
    width: 100%;
    padding-left: 75px;
    padding-right: 140px;
    border-left: 1px solid;
}

/* audio player */

.playbar {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

/*audio {
    display: block;
}*/

audio.session {
    display: none;
    outline: none;
}

audio.session::focus {
    outline: none;
}

audio::-webkit-media-controls-enclosure,
audio::-moz-media-controls-enclosure {
    background-color: transparent;
    outline: none;
}

.play-toggle {
    padding: 10px;
    border-right: 1px solid;
}

.play-pause {
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.icon-pause {
    display: none;
}

.player {
    align-self: center;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-bottom: 3px;
}

.progress-bar {
    display: inline-block;
    position: relative;
}

.progress {
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    background-color: #000;
    cursor: crosshair;
    border: none;
}

.progress-cursor {
    position: absolute;
    left: 0;
    width: 1px;
    height: 20px;
    background-color: #000;
}


/* SLIDE STYLING */
input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: crosshair;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid;
    height: 20px;
    width: 1px;
    background: #000;
    cursor: crosshair;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 1px solid;
    height: 20px;
    width: 1px;
    background: #000;
    cursor: crosshair;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 1px solid;
    height: 20px;
    width: 1px;
    background: #000;
    cursor: crosshair;
}



.time--current {
    display: inline-block;
    margin-right: 20px;
}

.time--duration {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

a.button {
    text-align: center;
    border: 1px solid;
    padding: 20px 20px;
    color: #000;
    border-radius: 18px;
    position: absolute;
    top: 420px;
    text-decoration: none;
}

.button.two {
    top: 510px;
}
.button.three {
    top: 590px;
}

/* LOGIN */
.page-login {
    margin-top: 30px;
}
.login {
    border: 1px solid #000;
    padding: 50px;
    /*padding: 80px;*/
/*    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;*/
}

.login .inline-flex {
    align-items: flex-end;
}

.form-group {
    margin-bottom: 10px;
}

#loginform {
    margin: 50px 130px;
}
.login input {
    padding: 7px 5px !important;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid black;
    outline-color: #00ff5e;
}

.login input[type=text]
.login input[type=password], {
    /*width: 200px;*/
}

.login input[type=submit] {
    padding: 7px 20px;
}
/**/